[submodule "libs/sfml"]
	path = libs/sfml
	url = https://github.com/SFML/sfml.git
[submodule "libs/imgui-sfml"]
	path = libs/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/sfpl"]
	path = libs/sfpl
	url = git@github.com:BloodRedTape/sfpl.git
